<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>318128722996-hcrnkq7kceq571m1lp63vpe9u73frlpu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.318128722996-hcrnkq7kceq571m1lp63vpe9u73frlpu</string>
	<key>API_KEY</key>
	<string>AIzaSyDttNHcqV231-svqLtZmmTi6orz2psiUmo</string>
	<key>GCM_SENDER_ID</key>
	<string>318128722996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.seiya.suzuki.flutterChat</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-application-64855</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-application-64855.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:318128722996:ios:7f6c93382c2d8e6fa46661</string>
</dict>
</plist>